body {
    display: flex;
    flex-direction: column;

    background-color: #20222d;
    color: #dbdbdb;
}

a {
    text-decoration: none;
    color: #0093db;
}

.container {
    max-width: 792px;
    margin: 0 auto;
    padding: 16px;
}
