<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bram Ceulemans</title>
    <link href="https://unpkg.com/sanitize.css/evergreen.css" rel="stylesheet"/>
    <link href="https://unpkg.com/sanitize.css/typography.css" rel="stylesheet"/>
    <link href="app.css" rel="stylesheet"/>
</head>
<body>
<div class="container">
    {{{ content }}}
</div>
</body>
</html>
